<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Architecture index</title>
<%- include ('./partials/head.ejs') %>
</head>
<body>
    <div class="wrapper">
    <header>
        <%- include ('./partials/header.ejs') %>     
        <div class="visit-container">
            <!-- <h1>Architecture Index</h1> -->
            <p>Architectural sites visited: <%= numOfVisits%></p>
        </div> 
    </header>
    <div class="content-container">
            <!-- <li> -->
        
        <!-- <ul> -->
          <% for (let i = 0; i < architecture.length; i++){ %>
            <div id="index-container" class="<%=architecture[i]._id%> architecture">
        <!-- <li> -->
            <!-- <li> -->
                <a href="/architecture/<%=architecture[i]._id%>">
                    <img src="<%=architecture[i].img%>" (min-width: 992px) 50vw, 100vw>
                </a>
                <br>
            <!-- </li> -->
                <h3 class="index-title">
                    <a href="/architecture/<%=architecture[i]._id%>"><%=architecture[i].title%>
                    </a>
                </h3>
                        <h2>
                            <a href="/architecture/<%=architecture[i]._id%>"><%=architecture[i].architectOne%>
                            </a>
                        </h2>       
            <li class="edit-delete-list">
                <form class="edit-content" action="/architecture/<%=architecture[i]._id%>?_method=DELETE"  method="POST">
            <!-- <input type="submit"  value="Delete"> -->
                <button class="delete-button" style="font-size:16px;">&#10005;</button>
            </form>
            <form action="/architecture/<%=architecture[i]._id%>/edit">
                <button class="edit-anchor">&#9998;</button>
            </form>
        </li>
        <!-- </li> -->
            </div>
                <%}%>
        <!-- </ul> -->
        </div>
    </body>
</html>
