<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<%- include ('./partials/head.ejs') %>
</head>

<body>
  <div class="wrapper">
    <header>
      <%- include ('./partials/header.ejs') %>
      <div>
        <button class="nav-button"><a class="text" href="/architecture">Back</a></button>
      </div>
  </header>
  <div class="show-container">
    <div class="tags">
      <span style='font-size: 32px;'><%=architecture.dayTag === true ? 'Day' : ''%></span>
    <span style='font-size: 32px;'><%=architecture.nightTag === true ? 'Overnight' : ''%></span>
    </div>
    <ul class="show-list">
      <li>
      <h2> <%=architecture.title%></h1>
      <p>Architect</p>
        <h2><%=architecture.architectOne%></h1>
      <p>And...</p>
        <h2><%=architecture.architectTwo%></h1>
      <p>Year</p>
        <h2><%=architecture.year%></h1>
        <p>Location
          <br>
          <span style='font-weight: 800;'>
          <%=architecture.loc.streetAddress%>
          <br>
          <%=architecture.loc.city%>
          <%=architecture.loc.postalCode%>
          <br>
          <%=architecture.loc.country%>
          </span>
        </p>
        <br>
          <p>Visits</p>
          <span style='font-weight: 800;'>
          <p><%=architecture.visits%></p>
        </span>
        <br>
          <p><%=architecture.link%></p>
          <br>
          <div class="show-edit-container">
            <button type="button" class="edit-show"><a href="/architecture/<%=architecture._id%>/edit">&#9998;</a></button>
          </div>
      </li>
    </ul>
    </div>
    <div class="show-img-container">
      <span><img class="show-img-large" src=" <%=architecture.img%>" style= "width: 100%; height: auto;" class="responsive"></span>
    </div>
  </div>
</body>
</html>